$default: #efefef;
$lime: #eeffbb;
$orange: #ffeebb;
$ocean: #d7fdfa;
$sky: #d7f4fd;
$pink: #ecd7fd;
$red: #fdd7d7;

.color-default {
    background-color: $default;
}

.color-lime {
    background-color: $lime;
}

.color-orange {
    background-color: $orange;
}

.color-ocean {
    background-color: $ocean;
}

.color-sky {
    background-color: $sky;
}

.color-pink {
    background-color: $pink;
}

.color-red {
    background-color: $red;
}


